<div class="block-data">
    {% if data.country %}
        <h2>{{data.country}}</h2>
    {% endif %}
    {% if data.city %}
        <h3>{{data.city}}</h3>
    {% endif %}
    <h4>{{data.date}}</h4>
</div>
